* {									
	box-sizing: border-box;			/* Width and height calculations will include padding and borders */
	margin: 0;						      /* Overrides defaults and sets the margin of the entire page to 0 */
	padding: 0;						      /* Overrides defaults and sets the padding of the entire page to 0 */
}

body, html {
  height: 100%;
  line-height: 1.8;
  font-family:Verdana,sans-serif; /* Font default for page may be placed here? - Esther */
}

/***************** 
* Scroll to top button 
* Inspiration:Inspired by: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
* Owner : Kevin VD
* Date  : Dec 05 
******************/

#TopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #24527a;
  color: #e0ebeb;
  cursor: crosshair;
  padding: 10px;
  border-radius: 40px;
}

#TopBtn:hover {
  background-color: #5dacbd;
}

/*------------Fullscreen NavBar----------------*/ 
/***************** 
* Fullsize NavBar/Tablet + Mobile Screen NavBar/Active class for JavaScript/ 
* Inspiration: W3S https://www.w3schools.com/howto/howto_js_topnav_responsive.asp  / https://www.youtube.com/watch?v=FazgJVnrVuI
* Owner : Kevin VD
* Date  : Nov 23 (v1)
******************/
.navbar {
  background-color: #24527a; 
  color:#5dacbd;
  display:flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
.navlist {
  list-style: none;
  float: right;
  color: #5dacbd; 
  padding: 10px 14px;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}
.navlist .list_item {
  display: inline-block;
  padding: 16px 8px;
}
.navbar a {
  color:#5dacbd;  
  text-decoration: none;
}
.navbar a:hover {
  color:  #e0ebeb; 
  transition: all 0.4s;
}
.navlist a.active {
  background-color: #0f4754;
  color:  #e0ebeb; 
}
.navbar .CompanyLogo {
  height: 30px;
}
.navbar .CompanyName {
  color: #e0ebeb; 
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: bold;
}
.menu_bar {
  width: 22px;
  height: 3.5px;
  background-color: #e0ebeb; 
  margin-bottom: 4.5px;
}
.menuicon { /*Hide icon until @media mod kicks in aka smaller than 960px screen*/
  display: none;
}
/***************** 
* jQuery drop menu 
* Inspiration: jQuery HTML Tutorial: https://www.youtube.com/watch?v=tdwXQRZUiRw
* Owner : Kevin VD
* Date  : Dec 05
******************/
ul.sub_drop {
  position:absolute;
  width:min-content;
  background-color: #24527a;
  display: none;
  padding: 5px 6px;
  margin: 0;
}
ul.sub_drop li:first-child{
  margin-top: -25px;
}

ul.sub_drop li > a:hover {
 border: none;
 color: #5dacbd;
 transition: 0.5s;
}
ul.sub_drop li a {
  text-decoration: none;
  /* float:none; */
  display:inline-flex;
  text-align: center;
  color: #e0ebeb;
  font-size: small;
 }
/*------------NavBar Media Screen Mods + Sub Drop Menu-------------*/
@media all and (max-width:960px) {
  .navbar {
    flex-direction: column;
    position: relative;
    transition: ease-in-out 0.4s;
  }
  ul.sub_drop {
    position:sticky;
    width:fit-content;
    background-color: #24527a;
    display: none;
    margin-top: 25px;
    margin-left: auto; /*Auto adjust drop list to center when screen size changes*/
    margin-right: auto;
  }
  ul.sub_drop li:first-child{ /*Sets position of first drop down link*/
    margin-top: -25px;
  }
  
  ul.sub_drop li > a:hover {
   border: none;
   color: #5dacbd;
   transition: 0.5s;
  }
  ul.sub_drop li a {
    text-decoration: none;
    display:flex;
    text-align: center;
    color: #e0ebeb;
    font-size: small;
   }
  .menuicon {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
  } 
  .navlist {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    display: none;/*Hide nav list items*/
  }
  .navlist .list_item {/*Want to add transition for menu drop down*/
    display: block;
    padding: 8px 4px;
    text-align: center;
    padding-top:8px;
  }
  .navbar .GeomSolutions {/*Align name/logo left*/
    width: 100%;
    margin-left: 8px;
    margin-top: 8px;
  }
  .active { /*Active class for JavaScript to bring our list back once icon is clicked*/
    display: block
  }
}

/* --- Kevin VD: END NavBar CSS + JavaScript class + jQuery drop menu--- */



/*********************
Owner: Jessica Murdoch
Inspiration: The basics were inspired from w3schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer and heaviliy modified it with different colour choices, hovering, text, etc...*/
/*'.bottomfooter' is used for the style/CSS of the footer bar at the bottom. 
/*Date: Dec 07, 2022
********************/

.bottomfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
 
.bottomfooter a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 18px 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}

.bottomfooter a:hover {
  background-color: #e0ebeb;
  color: black;
}

footer {
	left: 0;
  bottom: 0;
  width: 100%;
  background-color: Black;
  color: white;
  text-align: center;
  padding: 60px;
}

footer a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 18px 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}

footer a:hover {
  background-color: #e0ebeb;
  color: black;
}

footer p {
	color: white;
	text-align: center;
	padding: 10px;
}
/* End Owner: Jessica Murdoch */

/***************** 
* Heading Defaults
* Owner : Esther Kim
* Date  : Dec 06 (v2)
* Referenced Palettes from Group Discussion:
* * https://palettes.shecodes.io/palettes/1548#palette
* * https://palettes.shecodes.io/palettes/1551
******************/
h1, h2, h3, h4, h5, h6 { /* Default for all hn */
	font-family: Helvetica, sans-serif; /* Several fonts should be listed for fallback */ 
}
h1 { /* Main Page Heading - have not used yet*/
  padding-top: 50px; 
	margin-left: 5px;
	font-size: 8vw; /* font unit vw for responsive design */
}
h2 { /* Heading for non-main pages */
	font-size: 50px;
	margin-left: 30px;
  color: #18314F;
  padding-left: 8%; /* to align with page contents */
  letter-spacing: -0.5mm;
}
h3 { /* Supporting Heading */
	color: #22313f; 
  font-size: 35px;
	margin-top: 10px;
  margin-bottom: 20px;
}
h4 { /* Supporting Heading - Centered */
	color: #272343; 
  font-size: 35px;
	text-align: center;
	margin-left: 35px;
}
h5 { /* Inner Heading */
  color: #5588a3;
  font-size: 30px;
	margin: 20px;
}
h6 { /* Heading - Specific use for main page*/
  color: #5588a3;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -0.7mm;
  margin: 40px;
}
/* End Owner: Esther Kim */

/* --- Lucija Bralic: Header Image Start --- */
/* Inspiration: https://www.w3schools.com/w3css/w3css_templates.asp "Startup Template"  */
.header-image {
  filter:grayscale(50%);
  background-position: center;
  background-size: cover;
  background-image: url("images/image-header.jpg");
  min-height: 100%;
  position: relative;
}

.header-image-text {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
  color:#fff;
  padding: 48px;
}

.header-image-title {
  font-size: 64px;
}

.header-image-title-small {         /* Lowers the size of the title when the screen is small */
  font-size: 36px;
}

.header-image-subtitle {
  font-size:18px;
}

@media (max-width:600px) {          /* Hides the large title text when the screen is small */
.header-text-hide-small {
    display: none;
  }
}

@media (min-width:601px) {
  .header-text-hide-large {      /* Hides the small title text when the screen is large */
    display:none;
  }
}

.header-button {
  border: none;
  display:inline-block;
  padding:12px 24px;
  margin-top:16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  font-size:18px;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color:#000;
  background-color:#fff;
  opacity:0.60;
}

.header-button:hover {
  color:#000;
  background-color:#ccc;
  opacity:1;
}
/* --- Lucija Bralic: Header Image End --- */

/* --- Lucija External Links Begin --- */
/* Inspiration: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
/* Brand icons ("Font Awesome") https://www.w3schools.com/icons/fontawesome_icons_brand.asp */
.socialmedia {
	padding:24px 48px;
  position:absolute;
  left:0;
  bottom:0;
}

.fa {
  font-size: 20px;				/* Size of the brand icon */
  text-decoration: none;		/* Removes link underline*/
  margin: 10px 5px;
  color: white;
}

.fa:hover {				/* When the user hovers over the social media link, the opacity is lowered */
  opacity: 0.7;
}
/* --- Lucija External Links End --- */


/* --- Page Content --- */
.page-content {
	max-width:1564px;
  margin-left:auto;
  margin-right:auto;
  padding:8px 16px;
}

/* --- Lucija Project Images Begin --- */

.project-container:after,.project-container:before,.project-row-padding:after,.project-row-padding:before {
  content:"";
  display:table;
  clear:both;
}

.project-container {
  padding:0.16px 16px;
  margin-bottom: 16px;
  
}

.project-third {
  float:left;
  width:100%;
  padding:0 8px;
  
}

@media (min-width:601px) {
  .project-third {
    width:33.33333%;
  }
}

.project-display-container {
  position:relative;
}

.project-display-textbox {
  position:absolute;
  left:0;
  top:0;
  z-index: 1;			/* Brings the black box to the front, so that its opacity is not lowered when the user hovers over the image */
  color:#fff;
  background-color:#000;
  padding:8px 16px;
}

.project-image img {
	width: 100%;
}

.project-image:hover {				/* When the user hovers over the social media link, the opacity is lowered */
  opacity: 0.7;
}
/* --- Lucija Project Images End --- */

/***************** 
* Classes for Heading Arrangement
* Owner : Esther Kim
* Date  : Dec 06 (v2)
* Ref   : https://www.w3schools.com/css/css_website_layout.asp
******************/
.h2text {
  margin-left: 80px;
  margin-top: 40px;
}
.centerGrid {
  margin: auto;
  max-width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.column { /* main column setting              *** */
  float: left;
}
/* Left column - for dividing a section from the main text*/
.column.side {
  width: 30%;
  text-align: right;
}
/* Main column - for when a side column is used*/
.column.main {
  width: 70%;
}
.column.h3 {
  margin-bottom: 20px;
}
.row { /* to format columns together, or headings alone */
  margin-left: 75px;
  margin-right: 75px;
}
/* Clear floats after the columns */
.row:after {
  content: "";      /* used with :after, in this case, inserts empty str */
  display: block;   /* :after item behaves like block */
  clear: both;      /* clears area from other floating elements - both side	*/
}
/* Code for Grid used in Testimonial Page */
/* Reference for the reason in using grids over original flexbox idea */
/* https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/ */
.grid-container {
  display: grid;
  grid-auto-flow: column; /* makes behaviour like flexbox */
  grid-auto-columns: 1fr;
  gap: 1em;
}
.grid-container > div { /* for use in div */
  background-color: #ffffff;
  text-align: center;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2); /* colour transparency is the last parameter */
}
.grid-container2 { /* Another version for 'Why choose us' section */
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column; /*makes behaviour like flexbox*/
  gap: 1em;
}
.grid-container2 > div {
  background-color: #ffffff;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.testQuote { /* For alignment and spacing in testimonial quote names. */
  line-height: 400%;
  text-align: left;
}
/* Responsive design for .grid-container - shifts to a stacking arrangement when screen size passes limit */
@media screen and (max-width: 1150px) {
  .grid-container {
    grid-auto-flow: row; /* change orientation of the boxes */
  }
  .grid-container2 {
    grid-auto-flow: row; /* change orientation of the boxes */
    gap: 20px;
  }
}
/* Responsive design for .column - shifts to a stacking arrangement when screen size passes limit */
@media screen and (max-width: 1000px) {
  .column.side, .column.main {
    width: 100%;
  }
  .column.side {    /* Re-align side column text to center */
    text-align: center;
  }
  .h2text {
    margin-left: 30px;
    padding: 0%;
  }
}
/* Responsive design for headings and their margins for smaller screen size */
@media screen and (max-width: 600px) {
  .row {
	  margin-left: 40px;
    margin-right: 40px;
  }
  .h2text {
	  font-size: 40px;  
	  margin-top: 40px;
  }
  .h3text {
    font-size: 30px;
	  margin: 30px;
  }
  .h4text {
    font-size: 30px;
    margin: 30px;
  }
  .h5text {
    font-size: 25px;
	  margin: 30px;
  }
  .h6text {
    font-size: 30px;
  }
}
/* End Owner: Esther Kim */

/* Meghan Noonan: Owner of body section START*/
body {
	margin:0;
	padding:0;
}

/* inspiration for the body is the capital stairs website and the souce code is modified from W3Schools, 
lecture content, textbook and the capital stairs website */

/* Other pages body will be modified by swapping quote box for images and adding tabs */

/* colour palette is not solidified */ 

.topbox{
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	font-size: 20px; 
	font-family: Verdana, sans-serif;
	color: #6B7F82;
	background-color: #EBF5EE; 
}

.sectionbox{
	background-color: #EBF5EE; /* background colour will be changed when colours are chosen */
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	
}

.sectionboxone{
	display: flex; /* make it so the text boxes can stack if screen is smaller */
	flex-direction: row;
	background-color: white;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 1%;
	
}

.sectionboxtwo{
	display: flex;
	flex-direction: row;
	background-color: #EBF5EE; /* background colour will be changed when colours are chosen */
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 1%;
	
}

/* for other pages the quote box will be swapped for images that will be contained in the section boxes */
.quotebox{
	padding: 3px; /* quote box has different padding levels to make it left justified from center */
	flex: 25%;
	font-size: 25px; 
	font-style: italic;
	font-family: Verdana, sans-serif;
	color: #18314F;
	font-style: italic;
	line-height: 155%;


} 
/* Paragraph/div formmating for the values page */

.paragraphbox{
	padding: 10px;
	flex: 75%;
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
}

.values{
  padding: 40px;
	flex: 75%;
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */

}

/*Pragraph formatting for the teams page for the checkerboard effect */
/*dog used a stand in picture */

.pad{
	background-color: white; /* background colour will be changed when colours are chosen */
	padding-left: 10%;
	padding-right: 10%;
	padding-top:0%;
}

.sectionboxoneteam{
	display: flex; /* make it so the text boxes can stack if screen is smaller */
	flex-direction: row;
	background-color: white;
	padding:5%;
	
}

.sectionboxtwoteam{
	display: flex;
	flex-direction: row;
	background-color: #EBF5EE; /* background colour will be changed when colours are chosen */
	padding: 5%;

	
}

/* for other pages the quote box will be swapped for images that will be contained in the section boxes */
.quoteboxteam{
	padding: 3px; /* quote box has different padding levels to make it left justified from center */
	flex: 25%;
}


.paragraphboxteam{
	padding-left: 2%;
	padding-right: 2%;
	flex: 75%;
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
}


@media (max-width: 1400px){
	.sectionboxoneteam, .sectionboxtwoteam{
		flex-direction: column;
	}

}

/* Add space on the Past Projects page between the projects boxes */
.padpast{
	background-color: white; /* background colour will be changed when colours are chosen */
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom:5%;
}

/* Add padding between the paragraphs on the coding page */ 
.coding{
  padding-bottom:5%;
}

/* format the left jusitified quote box to make the text bold but hold the same general formatting of the template */

.quoteboxprojects{
	padding: 3px; /* quote box has different padding levels to make it left justified from center */
	flex: 25%;
	font-size: 25px; 
	font-style: Bold;
	font-family: Verdana, sans-serif;
	color: #18314F;
	line-height: 155%;


} 

/* Add responsiveness to past projects images and team images */

@media (max-width: 900px){
	.pastprojects, .imgteam{
		max-width: 100%;
		padding: 5%;
	}

}

/* this link will be edited once 'company content is solidified */ 
.teamlinks{
	font-family: Verdana, sans-serif; 
	color: black;
  text-decoration: none;
  font-size: 20px;
}

/* @media sourced from W3Schools CSS Flex Responsive tutorial https://www.w3schools.com/css/css3_flexbox_responsive.asp */

@media (max-width: 800px){
	.sectionboxone, .sectionboxtwo{
		flex-direction: column;
	}
	

}

/* adding lin break colour to testimonials page */
.linebreak{
  text-align:center;
  width:100%;
  border-top:10px solid #EBF5EE;

}

/* Add formatting to fonts on the testimonials page for body text */
.testimonials2{
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
  font-style: italic;
	line-height: 155%; /* add spaces between rows of text for readability */
}

.testimonials{
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%; /* add spaces between rows of text for readability */
}

.navbartwo{
  background-color: #0f4754;
  align-items: flex-end;
}

.navigation{
  display: inline-flex;
  text-align: right;
}
.navlinks{
  padding-left: 10%;
  padding-right:5%;
  font-size: 16px;
  font-family: Verdana, sans-serif; 
  color: white;
  font-style: none;
}
/* Meghan Noonan: Owner of body section END */
