* {									
	box-sizing: border-box;			/* Width and height calculations will include padding and borders */
	margin: 0;						      /* Overrides defaults and sets the margin of the entire page to 0 */
	padding: 0;						      /* Overrides defaults and sets the padding of the entire page to 0 */
}

body, html {
  height: 100%;
  line-height: 1.8;
  font-family:Verdana,sans-serif; /* Font default for page may be placed here? - Esther */
}

/*This class '.topnavigation' was used for the style/CSS of the navigation bar. I started with the basics of the example from https://www.w3schools.com/css/css_navbar.asp and heaviliy modified it with different colour choices, hovering, text, etc...*/
.topnavigation {
  overflow: hidden;
  background-color: white;
  
}

.topnavigation a {
  float: right;
  color: #a7bcb9;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}

.topnavigation a:hover {
  background-color: #5dacbd;
  color: white;
}

.topnavigation a.active {
  background-color: #5dacbd;
  color: white;
}
/*This is the end of the navigation bar CSS styling */

/*'.bottomfooter' is used for the style/CSS of the footer bar at the bottom. The basics were inspired from w3schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer and heaviliy modified it with different colour choices, hovering, text, etc...*/

.bottomfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
 
.bottomfooter a {
  color: #a7bcb9;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}
.bottomfooter a:hover {
  background-color: #e0ebeb;
  color: white;
}

footer {
	background-color: black
}

footer p {
	color: white;
	text-align: center;
	padding: 10px;
}

/***************** 
* Heading Defaults
* Owner : Esther Kim
* Date  : Nov 21 (v1)
******************/
h1, h2, h3, h4, h5, h6 { /* Default for all hn */
	font-family: Helvetica, sans-serif; /* Several fonts should be listed for fallback */ 
}
h1 { /* Main Heading - have not used yet*/
  padding-top: 50px; 
	margin-left: 25px;
	font-size: 8vw; /* font unit vw for responsive design */
}
h2 { /* Heading */
  padding-top: 10px; 
	font-size: 50px;
	margin-left: 30px;
}
h3 { /* Supporting Heading */
	color: #22313f; /* https://palettes.shecodes.io/palettes/1548#palette  testing colour */
  font-size: 40px;
	margin-left: 35px;
}
h4 { /* Supporting Heading - Centered */
	color: #272343; /* https://palettes.shecodes.io/palettes/1551 testing colour */
  font-size: 30px;
	text-align: center;
	margin-left: 35px;
}
h5 { /* Heading Side Column*/
  font-size: 30px;
	margin: 20px;
}
h6 { /* Heading (Smaller font size) - Additional as necessary, have not used yet*/
  font-size: 20px;
	margin: 20px;
}
/* End Owner: Esther Kim */

/* --- Lucija Bralic: Header Image Start --- */
/* Inspiration: https://www.w3schools.com/w3css/w3css_templates.asp "Startup Template"  */
.header-image {
  filter:grayscale(50%);
  background-position: center;
  background-size: cover;
  background-image: url("images/image-header.jpg");
  min-height: 100%;
  position: relative;
}

.header-image-text {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
  color:#fff;
  padding: 48px;
}

.header-image-title {
  font-size: 64px;
}

.header-image-title-small {         /* Lowers the size of the title when the screen is small */
  font-size: 36px;
}

.header-image-subtitle {
  font-size:18px;
}

@media (max-width:600px) {          /* Hides the large title text when the screen is small */
.header-text-hide-small {
    display: none;
  }
}

@media (min-width:601px) {
  .header-text-hide-large {      /* Hides the small title text when the screen is large */
    display:none;
  }
}

.header-button {
  border: none;
  display:inline-block;
  padding:12px 24px;
  margin-top:16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  font-size:18px;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color:#000;
  background-color:#fff;
  opacity:0.60;
}

.header-button:hover {
  color:#000;
  background-color:#ccc;
  opacity:1;
}
/* --- Lucija Bralic: Header Image End --- */

/* --- Lucija External Links Begin --- */
/* Inspiration: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
/* Brand icons ("Font Awesome") https://www.w3schools.com/icons/fontawesome_icons_brand.asp */
.socialmedia {
	padding:24px 48px;
  position:absolute;
  left:0;
  bottom:0;
}

.fa {
  font-size: 20px;				/* Size of the brand icon */
  text-decoration: none;		/* Removes link underline*/
  margin: 10px 5px;
  color: white;
}

.fa:hover {				/* When the user hovers over the social media link, the opacity is lowered */
    opacity: 0.7;
}
/* --- Lucija External Links End --- */


/* --- Page Content --- */
.page-content {
	max-width:1564px;
  margin-left:auto;
  margin-right:auto;
  padding:8px 16px;
}

/* --- Lucija Project Images Begin --- */

.project-container:after,.project-container:before,.project-row-padding:after,.project-row-padding:before {
  content:"";
  display:table;
  clear:both;
}

.project-container {
  padding:0.16px 16px;
  margin-bottom: 16px;
  
}

.project-third {
  float:left;
  width:100%;
  padding:0 8px;
  
}

@media (min-width:601px) {
  .project-third {
    width:33.33333%;
  }
}

.project-display-container {
  position:relative;
}

.project-display-textbox {
  position:absolute;
  left:0;
  top:0;
  z-index: 1;			/* Brings the black box to the front, so that its opacity is not lowered when the user hovers over the image */
  color:#fff;
  background-color:#000;
  padding:8px 16px;
}

.project-image img {
	width: 100%;
}

.project-image:hover {				/* When the user hovers over the social media link, the opacity is lowered */
    opacity: 0.7;
}
/* --- Lucija Project Images End --- */

/***************** 
* Classes for Heading Arrangement
* Owner : Esther Kim
* Date  : Nov 21 (v1)
* Ref   : https://www.w3schools.com/css/css_website_layout.asp
******************/
.column { /* main column setting */
  float: left;
}
/* Left column - for dividing a section from the main text*/
.column.side {
  width: 30%;
  text-align: right;
}
/* Main column - for when a side column is used*/
.column.main {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";      /* used with :after, in this case, inserts empty str */
  display: block;   /* :after item behaves like block */
  clear: both;      /* clears area from other floating elements - both side	*/
}
/* Responsive design for .column - shifts to a stacking arrangement when screen size passes limit */
@media screen and (max-width: 1000px) {
  .column.side, .column.main {
    width: 100%;
  }
  .column.side {    /* Realign side column text to center */
    text-align: center;
  }
}
/* End Owner: Esther Kim */

/* Meghan Noonan */
body {
	margin:0;
	padding:0;
}


/* inspiration is the capital stairs website and the souce code is modified from W3Schools, 
lecture content and the capital stairs website */

/* colour palette is solidified */ 

/* Meghan ... not sure what else to put beside my name? Check rubrik */
.topbox{
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	font-size: 20px; 
	font-family: Verdana, sans-serif;
	color: #6B7F82;
	background-color: #EBF5EE; 
}


.sectionboxone{
	display: flex;
	flex-direction: row;
	background-color: white;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 1%;
	
}

.sectionboxtwo{
	display: flex;
	flex-direction: row;
	background-color: #EBF5EE;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	
}


.quotebox{
	padding: 3px; 
	flex: 25%;
	font-size: 25px; 
	font-style: italic;
	font-family: Verdana, sans-serif;
	color: #18314F;
	font-style: italic;
	line-height: 155%;


} 

.paragraphbox{
	padding: 10px;
	flex: 75%;
	font-size: 20px; 
	font-family: Verdana, sans-serif; 
	color: gray;
	line-height: 155%;
}

/* sourced from W3Schools CSS Flex Responsive tutorial https://www.w3schools.com/css/css3_flexbox_responsive.asp */

@media (max-width: 800px){
	.sectionboxone, .sectionboxtwo{
		flex-direction: column;
	}
	

}
