/*THIS is all EXAMPLE*/
body {
    margin:1px;
    padding:1px;
    box-sizing: border-box;/*Allows for padding*/
    font-size: large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*font options*/
    background: url("ForestBunsplash.jpg")no-repeat;/*Free background from:https://unsplash.com/photos/qd-dvtbS45Q*/
    background-size:cover;
  
    min-height: 100vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/  
}
/*NAV BAR format both pages starts here*/
/*ResponsiveOption: (min height, is auto the height of any screen), Formating ideas from: https://www.w3schools.com/css/css_navbar.asp/ And Nav Bar Links, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
nav {
    margin:0;
    padding:0;
    box-sizing: border-box;/*Allows for padding*/
    font-size: large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/*font options*/
    background: url("Galaxyunsplash.jpg")no-repeat;/*Free background from:https://unsplash.com/photos/svbDI1Pq30s*/
    background-size:cover;
    min-height: 5vh;/*For resizing*/
    display:flex;/*Responsive layout*/
    align-items:center;

}
nav .nbar img {
  height: 90px;
  width: auto;
  padding: 1px;
  margin: 5px;
  display:flex;/*Responsive layout, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
}
ul li {
  list-style: none;/*https://developer.mozilla.org/en-US/docs/Web/CSS/list-style*/
  display:flex;/*Responsive layout,Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  }/*No list dots or icons*/
  
ul li a {
  text-decoration:none;/*Link Color formating,No underline*/
  color: rgb(252, 254, 254);
  padding: 2px;
  display:flex;/*Responsive layout, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  font-weight: 500;
}
/*End of NAV BAR formating both pages*/
/*Titles Formating Page 1 Starts here*/
h1.TitleP1 {
  color:brown;
  font-size:60px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  text-align: center;
}
img.LMF {/*Image full size to see the detail in mycelium growth & structure/Also Note Native Res of Image is 4023px X 3024px*/
  margin:auto;/*Auto center horizontally*/
  width: 100%;
  height:auto;
  max-height: 800px;
  max-width: 649px;
  margin-bottom: 15px;
  padding: 2px;
  display: flex;/*Responsive design, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  border-radius: 90px;/*Rounded Border*/
  text-align: center;
}
h2.EcoTitle {
  color:brown;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
h2.HumanTitle {
  color:brown;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
/*Table Option Starts Here*/
table.NTable {
  color:azure;
  font-size:30px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  text-align: center;
}
table,th {
  margin: auto;
  border:3px solid azure;
  border-style:groove;
  color:brown;
  text-align: center;
}
/*Titles Formating Page 1 Ends here*/
/*Footer Formating Both Pages Starts Here*/
h4.CulturesLinkTitle {/*Footer "Title fors"*/
  color:brown;
  font-size:25px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:2px;
  margin-top: 15px;
  text-align: left;
}
a.SendLink {/*Footer link*/
  text-decoration:none;/*Link Color formating,No underline*/
  color: rgb(252, 254, 254);
  padding: 2px;
  display:flex;/*Responsive layout, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
}
h4.HDTitle {/*Footer "Title for Host Defense Link"*/
  color:brown;
  font-size:25px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:2px;
  margin-top: 2px;
  text-align: center;
}
a.HostDLink{/*Footer link*/
  text-decoration:none;/*Link Color formating,No underline*/
  color: rgb(252, 254, 254);
  padding: 2px;
  display:flex;/*Responsive layout, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  text-align: center;
}
footer {/*Using similar formating to NavBar. https://www.w3schools.com/css/css_navbar.asp*/
  box-sizing: border-box;/*Allows for padding*/
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/*font options*/
  color: azure;
  background: url("FloorForestEdit_unsplash.jpg")no-repeat;/*Free background from:https://unsplash.com/photos/Wr2Ss0fdeWU*/;
  background-size:cover;/*Background Image to display nicely on footer bar*/
  min-height: 2vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  display:flex;/*Responsive layout, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/ 
}
/*Footer Formating Both Pages Ends Here*/
/*End of Index.html/Page 1*/

/*Page 2 Start/second.html*/
h1.TitleP2 {
  color:brown;
  font-size:60px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 15px;
  text-align: center;
}
h2.Agar {
  color:black;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}
img.AgarImg {/*Image resized in Photoshop*/
  margin:auto;/*Auto center horizontally*/
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 696px;
  padding: 2px;
  display: flex;/*Responsive design, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  border-radius: 90px;/*Rounded Border*/
  text-align: center;
 }
h2.LCTitle {
  color:brown;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
img.LC {/*Image Responsive Design/Native size is 760px X 824px*/
  margin:auto;/*Auto center horizontally*/
  width: 100%;
  height: auto;
  max-width: 730px;
  max-height: 717px;
  padding: 2px;
  display: flex;/*Responsive design, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  border-radius: 90px;/*Rounded Border*/
  text-align: center;
 }
h2.GITitle {
  color:brown;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
img.Grain {/*Image Responsive Design & Image resized in Photoshop*/
  margin:auto;/*Auto center horizontally*/
  width: 100%;
  max-width: 650px;
  max-height: 800px;
  padding: 2px;
  display: flex;/*Responsive design, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  border-radius: 90px;/*Rounded Border*/
  text-align: center;
 }
h2.FBTitle {
  color:brown;
  font-size:50px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:5px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
img.FB {/*Image Responsive Design & Image resized in Photoshop*/
  margin:auto;/*Auto center horizontally*/
  width: 100%;
  max-width: 630px;
  max-height: 800px;
  padding: 2px;
  display: flex;/*Responsive design, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  border-radius: 90px;/*Rounded Border*/
  text-align: center;
 }
/*Paragraph Formating Starts Here/Both pages*/
p,q {
  text-decoration: solid;
  color:black;
  font-size:28px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:1px;
  margin-top: 0px;
  text-align: center;
  font-weight: 650;
}
p.lightColorP,q.lightColorP {
  text-decoration: solid;
  color:azure;
  font-size:28px;
  min-height: 5vh;/*For resizing, Inspiration from Kode, Youtube video:"Make responsive website using HTML & CSS"*/
  padding:1px;
  margin-top: 0px;
  text-align: center;
  font-weight: 650;
}
/*Paragraph Formating Ends Here/Both pages*/
